:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
  background-color: #0b1220;
  color: white;
}

button {
  font-family: inherit;
}
